@model Crud_agenda.Models.AgendaEmpresa
@{ ViewBag.Title = "Eliminar Empresa"; }

<div class="row"><div class="col-md-6 offset-md-3">
<div class="card border-danger">
    <div class="card-header bg-danger text-white"><h5 class="mb-0">Confirmar eliminación</h5></div>
    <div class="card-body">
        <p>¿Eliminar la empresa <strong>@Model.NombreEmpresa</strong>?</p>
        @using (Html.BeginForm("Delete", "AgendaEmpresa", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.IdEmpresa)
            <button type="submit" class="btn btn-danger">Eliminar</button>
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-secondary" })
        }
    </div>
</div></div></div>
